* {
  /* REMOVER ROLAGEM */

  overflow-y: hidden;
  overflow-x: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario {
  background-color: #f0f0f0;
  height: 65%;
  width: 30%;
  border-radius: 20px;
}

.formulario h2 {
  position: relative;
  left: 30px;
  font-weight: 500;
}

.div_botao_formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.div_botao_formulario button {
  background-color: black;
  color: #f0f0f0;
  font-weight: 700;
  font-size: 15px;
  border-radius: 9px;
  width: 90%;
  height: 50px;
  cursor: pointer;
  
}

.informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
  position: relative;
  left: 30px;
}

.inputs input {
  height: 20px;
  border: 1px solid grey;
  border-radius: 6px;
  background-color: #ededed;
}

.div_ipt_enviar_img {
  height: 95%;
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed rgb(222, 222, 222);
}



/*
200	Extra Light (Ultra Light)
300	Light
400	Normal
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
*/
