/* HOME */
* {
  overflow-x: hidden;
}

body {
  background-image: url(../assets/imgs/bg_home_mscs.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.home {
  min-height: 80vh;
}

.main {
  position: relative;
  left: 4%;
  top: 45px;
}

.home h1 {
  font-size: 60px;
  font-weight: 600;
  width: 30%;
}

.home p {
  font-weight: 200;
  width: 35%;
}

.home h1,
.home p,
.home button {
  color: #f0f0f0;
}

.div_botao_home {
  padding: 30px 0;
}

.div_botao_home button {
  border: solid #c30e13 1px;
  border-radius: 5px;
  height: 40px;
  font-weight: 600;
  width: 150px;
}

.div_botao_home button:hover {
  color: #51080a;
  cursor: pointer;
}

/* FAIXA */

.faixa {
  min-height: 20vh;
  background-color: #212121;
  padding: 5px 0px;
}

.informacoes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.info {
  color: #f0f0f0;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.info h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 0px;
}

/* SOBRE */

.sobre {
  width: 100%;
  margin: 0;
  padding: 50px 0px;
  background-color: #f0f0f0;
}

.faixa,
.sobre {
  margin: 0;
}

/* POR QUE ESCOLHI? */

.main_texto1 {
  text-align: center;
  height: 150px;
  width: 50%;
}

.beneficios {
  width: 80%;
}

.caixa {
  width: 80%;
}

.caixa h3 {
  font-weight: 500;
  width: 220px;
}

/* NEUROPLASTICIDADE */

.neuroplasticidade {
  min-height: 70vh;
  gap: 50px;
}

.main_texto2 {
  width: 30%;
}

/*
200	Extra Light (Ultra Light)
300	Light
400	Normal
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
*/
